:root{
--color-sucess : #02B290;
--color-vibrant : #E07C24;
}
body{
    background-color: var(--color-vibrant) ;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
}
.label-item{
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button{
    background-color:var(--color-sucess ) ;
    /* background-color:red; */
    width: 40%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 2rem;
    padding: .7rem;
    
}
input{
    padding: .7rem;
    border-radius: 2rem;
}