:root {
  --color-sucess: #02b290;
  --color-vibrant: #e07c24;
}
body {
  background-color: var(--color-vibrant);
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}
.label-item {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1{
    color: white;
}

button {
  background-color: var(--color-sucess);
  /* background-color:red; */
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 0.7rem;
}
input {
  padding: 0.7rem;
  border-radius: 2rem;
}
#output {
    margin-top: 1rem;
    padding: 2rem;
  border-radius: 1rem;
  color: wheat;
}
