:root {
  --color-sucess: #02b290;
  --color-vibrant: #e07c24;
}
body {
  background-color: var(--color-vibrant);
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}
.label-item {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #51FF0D;
}
a {
  text-decoration: none;
}

button {
  background-color: var(--color-sucess);
  cursor: pointer;
  font-weight: 700;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 0.7rem;
}
input {
  padding: 0.7rem;
  border-radius: 2rem;
}
#output {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  color: #51FF0D ;
  background-color:black;
  font-weight: bolder;
}
footer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}
footer p {
  text-align: center;
  font-size: large;
}
footer a {
  text-align: center;
}
i {
  text-align: center;
  margin-top: 0.9rem;
  font-size: 1.7rem;
  margin-left: 1rem;
  color: #03203c;
}
